<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="log.path" source="log.path" defaultValue="logs"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %-5level|%logger{36}.%M\(%file:%line\) - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="service" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <File>${log.path}/server.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/server.%d{yyyy-MM-dd}~%i.log</fileNamePattern>
            <maxHistory>3</maxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss}]|{"logger":"%logger{36}", "thread":"%thread", "msg":"%msg"}%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.fate.nat_traversal.service" level="info">
        <appender-ref ref="service"/>
    </logger>

    <logger name="com.fate.nat_traversal.Server" level="info">
        <appender-ref ref="service"/>
    </logger>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="service"/>
    </root>
</configuration>